/dev/mali                 0666   system     system
/dev/ump                  0666   system     graphics
/dev/exynos-mem           0666   system     graphics
/dev/s3c-mem              0666   system     system
/dev/s3c-mfc              0666   system     graphics
/dev/s5p-mfc              0666   system     graphics
/dev/video0               0666   system     m2m
/dev/video1               0666   system     camera
/dev/video2               0666   system     m2m
/dev/video3               0666   system     m2m
/dev/video4               0666   system     m2m
/dev/s5p-jpeg             0666   system     camera
/dev/video14              0666   system     system
/dev/video21              0666   system     system
/dev/pmem                 0660   system     graphics
/dev/pmem_gpu1            0660   system     graphics
# logger should be world writable (for logging) but not readable
/dev/log/*                0662   root       log
/dev/i2c-7                0666   system     system
/dev/CEC                  0666   system     system
/dev/HPD                  0666   system     system
/dev/fimg2d               0666   system     graphics
/dev/fmradio              0660   system     audio
/dev/input/*              0660   root       input
/dev/srp                  0666   system     audio
/dev/srp_ctrl             0666   system     audio
/dev/umts*                0660   system     radio
/dev/link_pm              0660   system     radio
/dev/block/mmcblk0p8      0660   system     radio
/dev/akm8975              0660   system     system
/dev/accelerometer        0660   system     system
/dev/graphics/fb0         0777   root       graphics
/dev/rfkill               0666   root       root
